@media (max-width: 414px) {
  .navArea {
    margin-left: 35px;
    margin-right: 0;
  }

  .navRight {
    margin-right: 35px;
  }

  .centerSelectionDisplay {
    display: none;
    visibility: none;
  }

  .nameDisplay {
    display: none;
    visibility: none;
  }
}
