.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modalContent {
  position: absolute;
  top: 5%;
  left: 21%;
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 10px;
  width: 1110px;
  height: 90%;
}

.popout {
  animation: popout 0.5s ease;
  -webkit-animation: popout 0.5s ease;
}
@keyframes popout {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@media (max-width: 414px) {
  .modalContent {
    position: absolute;
    top: 5%;
    left: 8%;
    line-height: 1.4;
    background: #f1f1f1;
    padding: 10px 10px;
    border-radius: 3px;
    width: 85%;
    height: 80%;
  }
}
