.gamecardDiv {
  padding-left: 30px;
  transition: all 0.2s ease-in-out;
}

.gamecardDiv:hover {
  scale: 1.1;
}

.gamecardArea {
  box-shadow: 0px 10px 14px 6px rgba(168, 168, 168, 0.34);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
